* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  body {
    font-family: 'JetBrains Mono', monospace;
    background: $background-color;
    color: white;
    .promo{
      color:$purple;

    }
  }
  
  h1 {
    font-size: $header1;
    padding-right:40rem;
  }

  h2 {
    font-size: $header1;
    

  }
  h3 {
    font-size: $header3;
  }
  h4 {
    font-size: $header3;

  }
 h5{
  font-size: $header4;
 }
  p{
    font-size: $header3;
    display: table-cell;

    
    
  }
  
  ul {
    list-style: none;
    font-size: $header2;
    
  }

  p:hover{
    transform: scale(1.8);
    color: $purple;
  }

  .promo:hover{
    transform: scale(1.1);
  }

  .promo h2{
    display: table-cell;
  }

  .promo h2:hover{
    
      transform: scale(1.1);
      color: $blue;
    
  }
 




  footer{
    font-size: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 18rem;
    position: absolute;
    bottom: 0;
    .gasaros{
      font-family: 'Petit Formal Script' , cursive ;
      
    }
  }

  