.main-head{
    
    margin: 0 0 0 auto;
    background: solid black;
    top:0%;
    left:0%;
    position: relative;
}

nav{
    
    min-height: 10vh;
    width: 99%;
    flex-wrap: wrap;
    margin:auto;
    align-items: center;
    display: flex;
    .logo{
        @include flex(space-around,center,row);
        h1{
            margin:1rem;
        }
    }
    ul{
        @include flex(space-around,center,row);
        flex: 1 1 40rem;

    }
}




.hero{
    min-height: 90vh;
    width: 95%;
    margin: 0 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    display: flex;
    flex-direction:row;

}

.hero-images{
    padding-top: 5%;
    padding-left: 1%;
}

.hero-introduction{
    position: relative;
    text-align: right;
    margin-top: 20%;
    margin-left: 5%;
    
    

}

.active {
    background: $blue;
    color: white;
    padding: 1rem 2rem;
    border-radius: 1rem;
  }

.intro-images{ 
    width: 0%;  
}

#clock-arrow {
    animation: clock 1.5s infinite linear;
    transform-box: fill-box;
    transform-origin: bottom;
  }
  
  @keyframes clock {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(360deg);
    }
  }

