.skillset{
    width: 90%;
    min-height: 90vh;
    text-align: center;
    flex-wrap: wrap;
    position: relative;
    padding-top: 10%;
    padding-left:10%;
    
}

.html:hover,
.css:hover,
.javascript:hover,
.java:hover,
.visual-studio-code:hover,
.intellij:hover,
.github:hover,
.linux:hover,
.c:hover,
.python:hover,
.haskell:hover
{
    transform: scale(1.3);
}

.easy-to-catch{
    padding: 5%;
}