.skillset{
    width: 90%;
    min-height: 90vh;
    text-align: center;
    flex-wrap: wrap;
    position: relative;
    padding-top: 10%;
    padding-left:10%;
    
}



.easy-to-catch{
    padding: 5%;
}