$header1: 2.5rem;
$header2: 2.3rem;
$header3: 2rem;
$header4: 1.5rem;
$text: 2.5rem;
$gradient: linear-gradient(left, #38d39f, #38a4d3);
$background-color: #161616;
$blue: rgb(81,35,229);
$purple:rgb(140,32,229);
$text: white;

@mixin flex($justify, $align , $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    direction: $direction;
    
}

@import "global";
@import "intro";

@media screen and (min-width: 1332px) {
    html {
      font-size: 53%;
    }
    .splash {
      display: none;
    }
    svg {
      width: 80%;
    }
    nav {
      width: 100%;
    }
  }
